.contacts-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  .closed {
    color: $base-gray-color;
  }

  .contacts {
    text-align: left;

    .mail-phone-wrapper {
      @media #{$tablet},
      #{$desktop} {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      @media #{$mobile} {
        a {
          margin: 5px 0;
          padding: 10px 0;
          width: 100%;
        }
      }

      a {
        text-decoration: none;
        color: $base-text-color;
        font-weight: 400;
        border-radius: 5px;
        border: 1px solid $logo-color;

        &:hover {
          color: $logo-color;
          background-color: $dark-base-color;
        }
      }
    }
  }

  .opening-hours {
    font-size: 20px;

    .closed {
      color: $base-gray-color;
      font-weight: 400;
    }

    font-weight: 600;
    font-style: italic;

    .day,
    .hour {
      display: flex;
    }

    .day {
      justify-content: right;
    }

    .hour {
      justify-content: left;
    }
  }

  .map {
    iframe {
      max-width: 100%;
      border-radius: 6px;
      box-shadow: 2px 0px 5px 0px;
    }

    @media #{$mobile} {
      padding-top: 1.5rem;
    }
  }

  .bottom-contacts {
    padding-top: 2rem;
  }
}

.newsletter-form-wrapper {
  .newsletter-description {
    padding-top: 1rem;
    text-align: justify;

    a {
      color: $base-text-color;
      text-decoration: underline;
    }
  }

  .newsletter-image-col {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 100%;
    }
  }

  .mc__form {
    padding-top: 1rem;

    .warning,
    .text-warning {
      border-color: $dark-orange-color;
      color: $dark-orange-color !important;
    }

    .mc__field-container {
      input {
        @include formInputs();
      }
    }

    button {
      @include buttons();
    }
  }
}
