@import "../../global.scss";

.contacts-wrapper {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  .contacts {
    text-align: left;

    .mail-phone-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      a {
        text-decoration: underline;
        color: $base-text-color;
        font-weight: 400;

        &:hover {
          color: $orange-color;
        }
      }
    }
  }

  .google-map {
    width: 100%;
    height: 100%;

    @media #{$mobile} {
      height: 30vh;
    }
  }

  .bottom-contacts {
    padding-top: 2rem;
  }
}
