@import "../../global";

input[type=text],
textarea,
input[type=file],
input[type=password] {
    @include formInputs();
    margin-top: 8px !important;

}

button {
    background-color: $orange-color !important;
    @include formInputs();
}

.form-row {
    display: flex;
    justify-content: space-between;

    .three-input {
        width: 31%;
    }

    .mid-input {
        width: 48%;
    }
}

@media #{$mobile} {
    .form-row {
        display: block;

        .three-input,
        .mid-input {
            width: 100%;
        }
    }
}