@mixin maxWidth {
  max-width: 1680px;
  //padding-left: 15px;
  //padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@mixin formInputs {
  width: 100%;
  margin: 0.75rem 0;
  padding: 0.55rem;
  border-radius: 5px;
  border: 1px solid $base-text-color;
}

@mixin buttons() {
  width: 100%;
  margin: 0.75rem 0;
  padding: 0.55rem;
  border-radius: 5px;
  border: 1px solid $base-text-color;
  background-color: $dark-base-color ;
  color: $base-text-color;
  transition: .3s all ease;

  &:hover,
  &:active {
    background-color: $dark-orange-color;
    color: $white;
  }
}