span.swiper-pagination-bullet {
  width: 20px;
  height: 3px;
  border-radius: 0;

  &.swiper-pagination-bullet-active {
    background-color: $logo-color;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: $logo-color;
}