/* $grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
); */

$mobile: "(max-width: 576px)";
$tablet: "(min-width: 577px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$max-width: 1440px;

$grid-breakpoints: (
  xs: 0px,
  sm: 768px,
  md: 1024px,
  lg: 1440px,
  xl: 1920px,
) !default;

$container-max-widths: (
  md: 1024px,
  lg: 1440px,
  xl: 1920px,
) !default;

$regularFontFamily: "Fira Sans", cursive;
$boldFontFamily: "Fira Sans", cursive;

// $dark-base-color: #ffe0b0;
// $base-text-color: #14212b;
// $base-gray-color: #26333c;
// $base-background-color: #faf1e5;
// $base-background-color-transparent: #faf1e56c;
// $orange-color: #faba5c;
// $dark-orange-color: #99610e;

$dark-base-color: #eab861;
$base-text-color: #401d13; //#3e4b43;
$base-gray-color: #26333c;
$base-background-color: #f7f4f3;
$white: #f7f4f3;
$base-background-color-transparent: #faf1e56c;
$orange-color: #d98324;
$dark-orange-color: #502416;
$logo-color: #401d13;

//transitions
$transition-duration: all 0.2s cubic-bezier(0.4, 1, 0.6, 1);
