.checkout-page {
  padding-inline: 15px;

  @media #{$mobile}, #{$tablet} {
    padding-top: 30px;
  }

  .checkout-intro {
    max-width: 1200px;
    margin: auto;
  }

  .checkout-form {
    max-width: 1200px;
    margin: auto;
    padding-top: 32px;
    display: flex;
    gap: 15px;

    &.loading {
      opacity: 0.5;
      animation: animateFadeIn 2s infinite;
    }

    form {
      width: 66%;
      display: flex;
      flex-direction: column;
      gap: 15px;

      @media #{$tablet}, #{$mobile} {
        width: 100%;
      }
    }

    label.rich-label {
      font-weight: 500;
      font-style: italic;
    }

    .checkout-products {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 0.8px solid $base-text-color;
      padding-block: 8px;

      .name-description {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .image-wrapper {
        width: 100px;
        height: 100px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      select {
        width: 100px;
        height: 40px;
      }
    }

    .checkout-recap {
      width: 33%;
      height: fit-content;
      position: sticky;
      top: 100px;

      @media #{$mobile}, #{$tablet} {
        background-color: $base-background-color;
        position: fixed;
        top: 44px;
        outline: 1px solid;
        left: 0;
        width: 100%;

        .recap-title {
          padding: 12px;
          cursor: pointer;
          box-shadow: 0px 2px 3px 0px $base-text-color;
        }
      }

      .recap-content {
        visibility: hidden;
        height: 0;
        transition: padding-block .3s ease-in-out;
        overflow: hidden;

        @media #{$desktop} {
          visibility: visible;
          height: auto;
        }

        &.show-recap {
          visibility: visible;
          height: auto;
          padding: 12px;
        }
      }

      .recap-products {
        padding: 12px;
        .product-line {
          padding-block: 4px;
        }
      }
      .recap-total {
        padding: 12px;
        border-top: 1px solid $base-text-color;
      }
    }
  }

  .checkout-confirm {
    max-width: 900px;
    margin-inline: auto;

    .satispay-container {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-inline: auto;
      width: 25%;
      margin-bottom: 15px;

      @media #{$tablet} {
        width: 50%;

      }

      @media #{$mobile} {
        width: 100%;
      }
    }
  }
}
