@import "../global.scss";

#footer {
  position: relative;
  //margin-top: 4rem;
  background-color: $dark-base-color;
  padding: 15px;

  .footer-inner {
    @include maxWidth();
  }

  .follow {
    a {
      color: $base-text-color;
    }
  }
}
