@import "../global.scss";

@import "../static/scss/swiperSlider.scss";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 150;
}

.logo {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  position: absolute;
  width: 160px;
  left: calc(50% - 80px);
  top: 0px;
  z-index: 1;

  &::after {
    content: "";
    width: 160px;
    height: 120px;
    display: block;
    background-color: $dark-base-color;
    left: calc(50% - 80px);
    position: absolute;
    z-index: -1;
    border-radius: 100%;
    box-shadow: 0 11px 4px -4px $logo-color;
  }

  img {
    width: 100%;
    height: 100%;
  }

  // &::before {
  //   content: "X";
  //   left: 15px;
  // }
}

.menu-link.selected {
  text-decoration: underline;
}

.menu-header-desktop {
  @media #{$tablet},
  #{$mobile} {
    display: none !important;
  }

  .header-wrapper {
    max-width: 1680px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  font-size: 18px;
  background-color: $dark-base-color;
  padding: 0 2vw;
  height: 80px;
  box-shadow: 0px 5px 3px $logo-color;

  .menu-item {
    display: flex;
    justify-content: flex-end;

    a {
      text-decoration: none;
      color: $base-text-color;
    }

    .menu-link {
      padding: 0 15px;
    }

    .menu-text {
      padding: 15px 0;
      font-weight: bold;
      font-style: italic;
      cursor: pointer;

      &.selected {
        color: blue;
        pointer-events: none;
      }

      &:hover {
        padding: 12px 0 15px 0;
        text-decoration: underline;
        transition: 0.2s linear;
      }
    }
  }
}

.menu-header-mobile {
  box-shadow: 0px 3px 3px $logo-color;

  @media #{$desktop} {
    display: none !important;
  }

  .menu-wrapper {
    padding: 0.5rem;
    position: relative;
    background-color: $dark-base-color;
    height: 44px;

    h1 {
      margin: 0;
    }

    .menu-link {
      position: absolute;
      left: 15px;
      cursor: pointer;
      color: $base-text-color;
    }

    .mobile-logo {
      text-align: center;
      z-index: 1;
      position: relative;

      &:after {
        content: "";
        width: 80px;
        height: 60px;
        display: block;
        background-color: $dark-base-color;
        left: calc(50% - 40px);
        position: absolute;
        z-index: -1;
        border-radius: 100%;
        box-shadow: 0px 3px 2px $logo-color;
      }

      img {
        width: 60px;
        height: auto;
        display: block;
        position: absolute;
        left: calc(50% - 30px);
      }
    }

    a {
      text-decoration: none;
      color: $base-text-color;
    }
  }

  .modal-backdrop-custom {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &.closed {
      display: none;
    }
  }

  .modal-menu-mobile {
    position: fixed;
    right: 0;
    width: 65%;
    height: 100%;
    z-index: 100;
    background-color: $base-background-color-transparent;
    backdrop-filter: blur(15px);
    border-left: 1px solid $base-background-color;
    transition: $transition-duration;

    &.closed {
      right: -65%;
    }

    .link-wrapper {
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      padding: 10vh 15px;
      width: 100%;
      font-size: 1.5rem;
      line-height: 3.3rem;
      position: relative;

      .icon {
        position: absolute;
        top: 1rem;
        right: 1rem;

        cursor: pointer;
      }

      .menu-link {
        a {
          text-decoration: none;
          color: $base-text-color;
        }
      }
    }
  }
}

.popover-link-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 230px;
}
