@import "../global.scss";

.logo {
  display: flex;
  justify-content: flex-start;
  padding: 15px;

  &::before {
    content: "X";
    left: 15px;
  }
}

.menu-header-desktop {
  @media screen {
    display: none;
  }

  background-color: $dark-base-color;
  .menu-item {
    display: flex;
    justify-content: flex-end;

    a {
      text-decoration: none;
      color: $base-text-color;
    }

    .menu-link {
      padding: 0 15px;
    }

    .menu-text {
      padding: 15px 0;
      font-weight: bold;
      cursor: pointer;

      &.selected {
        color: blue;
        pointer-events: none;
      }

      &:hover {
        padding: 12px 0 15px 0;
        text-decoration: underline;
        transition: 0.2s linear;
      }
    }
  }
}
