.data-loading-products {
  width: 100%;
  aspect-ratio: 16/9;
  display: flex;
  opacity: 0.6;
  animation: animateFadeIn 2s infinite;

  @media #{$tablet},
  #{$mobile} {
    flex-direction: column !important;
  }

  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .data-image {
    width: 50%;
    background-color: $base-gray-color;

    @media #{$tablet}, #{$mobile} {
      width: 100%;
      aspect-ratio: 602/482;
      height: 100%;
    }
  }

  .data-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 16px;

    @media #{$tablet}, #{$mobile} {
      width: 100%;
    }

    .text-item {
      width: 46%;
      height: 1rem;
      background-color: $base-gray-color;

      &:nth-of-type(odd) {
        width: 59%;
      }
    }
  }
}

.data-loading-tile {
  width: calc(25% - 8px);
  margin: 4px;
  aspect-ratio: 1/1;
  opacity: 0.6;
  animation: animateFadeIn 2s infinite;
  background-color: $base-gray-color;

  @media #{$mobile},
  #{$tablet} {
    width: calc(50% - 8px);
  }
}
@keyframes animateFadeIn {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.3;
  }
}
