.product-wrapper {
  &:nth-child(even) {
    .product-inner {
      flex-direction: row-reverse;

      .description-container::before {
        left: auto;
        right: 0;
      }
    }
  }

  &:first-child {
    .product-inner {
      padding: 15px 0;
    }

    &::before {
      display: none;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 75%;
    margin: auto;
    opacity: 0.2;
    text-align: center;
    border: 1px dashed $dark-orange-color;

    @media #{$mobile},
        #{$tablet} {
      width: 95%;
    }
  }

  .product-inner {
    display: flex;
    padding: 25px 0;
    width: 100%;

    @media #{$desktop} {
      .name-mobile {
        display: none;
      }
    }

    @media #{$mobile},
        #{$tablet} {
      display: block;

      .name-mobile {
        text-align: center;
        padding-bottom: 15px;
      }
    }

    &::after {
      content: "";
      width: 0;
      border: 1px dashed $dark-orange-color;
      opacity: 0.2;

      @media #{$mobile},
            #{$tablet} {
        display: none;
      }
    }

    .image {
      position: relative;
      width: 100%;
      height: 100%;
      aspect-ratio: 602/482;

      @media #{$mobile},
            #{$tablet} {
        max-width: 100%;

        .second-image {
          animation-name: fade;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          animation-duration: 5s;
          animation-direction: alternate;
        }
      }

      .first-image {
        opacity: 1;
        transition: 0.4s all linear;

        &:hover {
          opacity: 0;
        }
      }

      .second-image {
        position: absolute;
        top: 0;
        left: 0;

        opacity: 0;
        transition: 0.4s all linear;

        &:hover {
          opacity: 1;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media #{$mobile},
                #{$tablet} {
          height: 100%;
        }
      }
    }

    .description-container {
      position: relative;
      padding: 0 15px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &::before {
        content: "";
        left: 0;
        top: 15px;
        position: absolute;
        height: 95%;
        opacity: 0.2;
        border: 1px dashed $dark-orange-color;

        @media #{$desktop} {
          display: none;
        }
      }

      .name-desktop {
        text-align: center;

        @media #{$mobile},
                #{$tablet} {
          padding-top: 10px;
          display: none;
        }
      }

      .description {
        padding-top: 4rem;
        padding-bottom: 4rem;

        @media #{$mobile},
                #{$tablet} {
          padding: 1rem 0;
        }
      }

      .ingredients {
        .ingredients-list {
          white-space: pre-line;
        }
      }

      .header {
        font-size: 20px;
        font-family: $boldFontFamily;
      }
    }
  }

  .product-footer {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;

    .left-footer,
    .right-footer {
      padding: 0.25rem 0;
    }
  }

  .logged-infos {
    display: flex;
    flex-direction: column;
    gap: 3px;

    .online-info {
      display: flex;
      align-items: center;
      gap: 6px;

      &::before {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 6px;
      }

      &.online {
        &::before {
          background-color: rgb(114, 216, 114);
          box-shadow: 0px 0px 4px 0px rgb(114, 216, 114);
        }
      }

      &.offline {
        &::before {
          background-color: rgb(216, 114, 114);
          box-shadow: 0px 0px 4px 0px rgb(216, 114, 114);
        }
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
