@import "./static/scss/variables.scss";
@import "./static/scss/fontsImport.scss";

h1 {
  color: $base-text-color;
}

html,
body {
  font-family: "Oleo Script", cursive !important;
  color: $base-text-color;
  background-color: $base-background-color !important;
  /* max-width: 1440px;
  margin-left: auto;
  margin-right: auto; */
}
