@import "./static/scss/variables.scss";
@import "./static/scss/fontsImport.scss";
@import "./static/scss/mixins.scss";

h1 {
  color: $base-text-color;
}

html,
body {
  //font-family: "Oleo Script", cursive !important;
  //font-family: "Kanit", sans-serif;
  font-family: "Nunito", sans-serif;
  color: $base-text-color;
  background-color: $base-background-color !important;
  max-width: 2160px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;

  .main-content {
    @include maxWidth();
    margin-top: 60px;
  }

  @media #{$desktop},
  #{$tablet} {
    padding-top: 10px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header {
    font-family: "Oleo Script", cursive;

  }
}